<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!--[if lt IE 9]>
        <script type="text/javascript" src="/skin/js/html5.js"></script>
        <![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>响应式日化食品零食类网站织梦模板(自适应手机端)</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <script type="text/javascript" src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/animate.min.css">
  <link rel="stylesheet" type="text/css" href="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/global.css">
  <link rel="stylesheet" type="text/css" href="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/style.css">
  <script type="text/javascript" src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/owl.carousel.js"></script>
  <script type="text/javascript" src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/wow.js"></script>
  <script type="text/javascript" src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/main.js"></script>
</head>

<body>
  <!-------------------------------------- 头部开始 -------------------------------------->
  <div class="header">
    <div class="wrap">
      <div class="logo"><a href="http://zly_20201117_10.demo.qfpffmp.cn/"><img
            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/logo.png"></a></div>
      <div class="menu">
        <ul>
          <li class="on"><a href="http://zly_20201117_10.demo.qfpffmp.cn/">网站首页</a></li>

          <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/guanyuwomen/gongsijianjie/">关于我们</a></li>

          <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/">系列分类</a></li>

          <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/mendianfenbu/">门店分布</a></li>

          <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/">新闻动态</a></li>

          <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/lianxiwomen/">联系我们</a></li>

        </ul>
      </div>
      <div class="menu_wrap"></div>
      <div class="tel"><span>020-88888888</span></div>
      <div class="clear"></div>
    </div>
  </div>

  <!-------------------------------------- 头部结束 -------------------------------------->
  <div class="index_owl">
    <div class="owl">
      <div class="owl_cur"> <span class="prev"></span> <span class="next"></span> </div>
      <div class="banner owlCarousel owl-carousel owl-theme owl-loaded">
        <div class="owl-stage-outer">
          <div class="owl-stage"
            style="transform: translate3d(-5700px, 0px, 0px); transition: all 0.25s ease 0s; width: 8550px;">
            <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(-5700px, 0px, 0px); transition: all 0.25s ease 0s; width: 9975px;">
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
              <div class="owl-controls">
                <div class="owl-nav">
                  <div class="owl-prev" style="display: none;">prev</div>
                  <div class="owl-next" style="display: none;">next</div>
                </div>
                <div class="owl-dots" style="">
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot active"><span></span></div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 1425px; margin-right: 0px;">
              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(-5700px, 0px, 0px); transition: all 0.25s ease 0s; width: 9975px;">
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item" style="width: 1425px; margin-right: 0px;">
              <div class="owl-controls">
                <div class="owl-nav">
                  <div class="owl-prev" style="display: none;">prev</div>
                  <div class="owl-next" style="display: none;">next</div>
                </div>
                <div class="owl-dots" style="">
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot active"><span></span></div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned active" style="width: 1425px; margin-right: 0px;">
              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(-5700px, 0px, 0px); transition: all 0.25s ease 0s; width: 9975px;">
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
                    <div class="item">
                      <div class="img1"><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><img
                            src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304092041636.jpg"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-item cloned" style="width: 1425px; margin-right: 0px;">
              <div class="owl-controls">
                <div class="owl-nav">
                  <div class="owl-prev" style="display: none;">prev</div>
                  <div class="owl-next" style="display: none;">next</div>
                </div>
                <div class="owl-dots" style="">
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot"><span></span></div>
                  <div class="owl-dot active"><span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="owl-controls">
          <div class="owl-nav">
            <div class="owl-prev" style="display: none;">prev</div>
            <div class="owl-next" style="display: none;">next</div>
          </div>
          <div class="owl-dots" style="">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------- 内容开始 -------------------------------------->
  <div class="mainer">
    <div class="page page1">
      <div class="wrap">
        <div class="page_tit">
          <h3 class="wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><span><em>热门推荐</em></span>
          </h3>
          <p class="wow fadeInUp animated animated" data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">HOT RECOMMEND</p>
        </div>
        <div class="explosive">
          <div class="owl explosive_owl">
            <div class="owl_cur"> <span class="prev"></span><span class="next"></span> </div>
            <div class="explosive_items owlCarousel wow fadeInUp owl-carousel owl-theme owl-loaded animated animated"
              data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">


              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 826.666px;">
                  <div class="owl-item active" style="width: 373.333px; margin-right: 40px;">
                    <div class="owl-stage-outer">
                      <div class="owl-stage"
                        style="transform: translate3d(-1240px, 0px, 0px); transition: all 0s ease 0s; width: 3720px;">
                        <div class="owl-item cloned" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.1</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/25.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041434010-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片三</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.2</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/24.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041432400-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片二</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.3</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/7.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041119550-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片一</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.1</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/25.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041434010-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片三</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.2</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/24.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041432400-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片二</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.3</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/7.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041119550-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片一</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item cloned active" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.1</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/25.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041434010-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片三</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.2</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/24.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041432400-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片二</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 373.333px; margin-right: 40px;">
                          <div class="item">
                            <div class="explosive_list">
                              <h4>NO.3</h4>
                              <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/7.html">
                                <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041119550-L.jpg">
                                </div>
                                <div class="web">
                                  <div class="text">
                                    <h3>极品麻辣薯片一</h3>
                                    <p>干果类</p>
                                  </div>
                                  <div class="more">
                                    <label>详情</label>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 373.333px; margin-right: 40px;">
                    <div class="owl-controls">
                      <div class="owl-nav">
                        <div class="owl-prev" style="display: none;">prev</div>
                        <div class="owl-next" style="display: none;">next</div>
                      </div>
                      <div class="owl-dots" style="display: none;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-controls">
                <div class="owl-nav">
                  <div class="owl-prev" style="display: none;">prev</div>
                  <div class="owl-next" style="display: none;">next</div>
                </div>
                <div class="owl-dots" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="wrap">
        <div class="page_tit">
          <h3 class="wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><span><em>系列分类</em></span>
          </h3>
          <p class="wow fadeInUp animated animated" data-wow-delay=".2s"
            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">WAREHOUSE</p>
        </div>
        <div class="warehouse">
          <div class="left">
            <div class="tit"> <span>系列分类</span> </div>
            <div class="list">
              <ul class="wow_list">

                <li class="wow fadeInUp animated animated" data-wow-delay="0s"
                  style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/"><i></i>干果类</a></li>

                <li class="wow fadeInUp animated animated" data-wow-delay="0.1s"
                  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/jianguolei/"><i></i>坚果类</a></li>

                <li class="wow fadeInUp animated animated" data-wow-delay="0.2s"
                  style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/liangyoulei/"><i></i>粮油类</a></li>

                <li class="wow fadeInUp animated animated" data-wow-delay="0.3s"
                  style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganhuoshicailei/"><i></i>干货食材类</a></li>

                <li class="wow fadeInUp animated animated" data-wow-delay="0.4s"
                  style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/xianguolei/"><i></i>鲜果类</a></li>

                <li class="wow fadeInUp animated animated" data-wow-delay="0.5s"
                  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/bingxianshipinlei/"><i></i>冰鲜食品类</a></li>

                <li class="wow fadeInUp animated animated" data-wow-delay="0.6s"
                  style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"><a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/liangyoulei/"><i></i>粮油类</a></li>

              </ul>
              <div class="line"></div>
              <div class="more"> <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/">更多</a> </div>
            </div>
          </div>
          <div class="right">
            <div class="list">
              <ul class="wow_list">
                <li class="wow fadeInUp animated animated" data-wow-delay="0s"
                  style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;"> <a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/28.html">
                    <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041435310-L.jpg"> </div>
                    <div class="web">
                      <p>极品麻辣薯片六
                        <label>详情</label>
                      </p>
                    </div>
                  </a> </li>
                <li class="wow fadeInUp animated animated" data-wow-delay="0.1s"
                  style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"> <a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/27.html">
                    <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041435030-L.jpg"> </div>
                    <div class="web">
                      <p>极品麻辣薯片五
                        <label>详情</label>
                      </p>
                    </div>
                  </a> </li>
                <li class="wow fadeInUp animated animated" data-wow-delay="0.2s"
                  style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"> <a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/26.html">
                    <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041434270-L.jpg"> </div>
                    <div class="web">
                      <p>极品麻辣薯片四
                        <label>详情</label>
                      </p>
                    </div>
                  </a> </li>
                <li class="wow fadeInUp animated animated" data-wow-delay="0.3s"
                  style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"> <a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/25.html">
                    <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041434010-L.jpg"> </div>
                    <div class="web">
                      <p>极品麻辣薯片三
                        <label>详情</label>
                      </p>
                    </div>
                  </a> </li>
                <li class="wow fadeInUp animated animated" data-wow-delay="0.4s"
                  style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"> <a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/24.html">
                    <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041432400-L.jpg"> </div>
                    <div class="web">
                      <p>极品麻辣薯片二
                        <label>详情</label>
                      </p>
                    </div>
                  </a> </li>
                <li class="wow fadeInUp animated animated" data-wow-delay="0.5s"
                  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"> <a
                    href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/ganguolei/7.html">
                    <div class="img"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041119550-L.jpg"> </div>
                    <div class="web">
                      <p>极品麻辣薯片一
                        <label>详情</label>
                      </p>
                    </div>
                  </a> </li>

              </ul>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="wrap">
        <div class="page_tit">
          <h3 class="wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><span><em>特价零食</em></span>
          </h3>
          <p class="wow fadeInUp animated animated" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Special Offer</p>
        </div>
        <div class="special_offer">
          <div class="owl special_offer_owl wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="owl_cur"> <span class="prev"></span> <span class="next"></span> </div>
            <div class="special_offer_items owlCarousel owl-carousel owl-theme owl-loaded">

              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(-1240px, 0px, 0px); transition: all 0s ease 0s; width: 3720px;">
                  <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                    <div class="owl-stage-outer">
                      <div class="owl-stage"
                        style="transform: translate3d(-1240px, 0px, 0px); transition: all 0s ease 0s; width: 3720px;">
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                    <div class="owl-controls">
                      <div class="owl-nav">
                        <div class="owl-prev" style="display: none;">prev</div>
                        <div class="owl-next" style="display: none;">next</div>
                      </div>
                      <div class="owl-dots" style="display: none;"></div>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                    <div class="owl-stage-outer">
                      <div class="owl-stage"
                        style="transform: translate3d(-1240px, 0px, 0px); transition: all 0s ease 0s; width: 3720px;">
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                    <div class="owl-controls">
                      <div class="owl-nav">
                        <div class="owl-prev" style="display: none;">prev</div>
                        <div class="owl-next" style="display: none;">next</div>
                      </div>
                      <div class="owl-dots" style="display: none;"></div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                    <div class="owl-stage-outer">
                      <div class="owl-stage"
                        style="transform: translate3d(-1240px, 0px, 0px); transition: all 0s ease 0s; width: 3720px;">
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item active" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/15.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422470-L.jpg"> </div>
                          </div>
                        </div>
                        <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                          <div class="item">
                            <div class="img"> <a
                                href="http://zly_20201117_10.demo.qfpffmp.cn/a/tejialingshi/14.html"></a> <img
                                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041422310-L.jpg"> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 580px; margin-right: 40px;">
                    <div class="owl-controls">
                      <div class="owl-nav">
                        <div class="owl-prev" style="display: none;">prev</div>
                        <div class="owl-next" style="display: none;">next</div>
                      </div>
                      <div class="owl-dots" style="display: none;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-controls">
                <div class="owl-nav">
                  <div class="owl-prev" style="display: none;">prev</div>
                  <div class="owl-next" style="display: none;">next</div>
                </div>
                <div class="owl-dots" style="display: none;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page page2">
      <div class="index_about">
        <div class="page_tit">
          <h3 class="wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><span><em>关于我们</em></span>
          </h3>
          <p class="wow fadeInUp animated animated" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">ABOUT US</p>
        </div>
        <div class="list wow_list">
          <ul>
            <li class="wow fadeInUp animated animated" data-wow-delay="0s"
              style="visibility: visible; animation-delay: 0s; animation-name: fadeInUp;">
              <h3>106<em>+</em></h3>
              <p>品牌成立106年</p>
            </li>
            <li class="wow fadeInUp animated animated" data-wow-delay="0.1s"
              style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
              <h3>500<em>+</em></h3>
              <p>零食专卖店全球500多家</p>
            </li>
            <li class="wow fadeInUp animated animated" data-wow-delay="0.2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <h3>600<em>+</em></h3>
              <p>高端美味零食多达600多个品种</p>
            </li>
            <li class="wow fadeInUp animated animated" data-wow-delay="0.3s"
              style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
              <h3>2000<em>+</em></h3>
              <p>全球2000多万优秀员工</p>
            </li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="web wow fadeInUp animated animated" data-wow-delay=".1s"
          style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
          <p>
            某某零食成立于2006年，依托多位国内外资深艺术教育专家联合在华成立的国际标准的艺术教育与交流中心。成立以来，某某力邀世界顶尖艺术大师、奥斯卡获奖者、欧美艺术教育专家来华讲学交流，推动中外艺术产业与国际的学术交往。经过近十二年的努力，率先建立起与国际接轨的当代艺术教育模式，引进欧美顶级艺术院校的课程体系，由专业的国际教师团，培养出符合国际一流艺术院校标准的艺术人才，成为国内学生通向国际艺术院校最更有效的通...
          </p>
          <div class="more"> <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/guanyuwomen/gongsijianjie/">更多</a> </div>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="wrap">
        <div class="page_tit">
          <h3 class="wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;"><span><em>新闻动态</em></span>
          </h3>
          <p class="wow fadeInUp animated animated" data-wow-delay=".3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">DYNAMIC</p>
        </div>
        <div class="index_news">
          <div class="left wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="tit">
              <h3>企业动态</h3>
            </div>
            <div class="img"> <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/qiyedongtai/6.html"></a>
              <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-200304102F60-L.jpg"> </div>
            <div class="web">
              <h4><a
                  href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/qiyedongtai/6.html">全国各地市场米面粮油肉菜蛋供应总体充</a><span>2020-03-04</span>
              </h4>
              <p>全国各地市场米面粮油肉菜蛋供应总体充足，价格基本稳定 别慌！菜篮子还是满满当当 2月2日，青岛市崂山区市场监督管理...</p>
            </div>
          </div>
          <div class="right wow fadeInUp animated animated" data-wow-delay=".1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
            <div class="tit">
              <h3>零食小知识</h3>
            </div>
            <div class="list">
              <ul>
                <li>
                  <div class="img"> <a
                      href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/3.html"></a> <img
                      src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041024490-L.jpg"> </div>
                  <div class="web">
                    <div class="wd_w"> <span>问</span>
                      <h4><a
                          href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/3.html">福建省级应急大米储备增加7000吨</a>
                      </h4>
                      <div class="clear"></div>
                    </div>
                    <div class="wd_d"> <span>答</span>
                      <p><a
                          href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/3.html">中国商务新闻网福建讯
                          为认真总结疫情防控期间福建省应急大米储备有效发挥平抑市场作用的经验，补短板、...</a></p>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="img"> <a
                      href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/2.html"></a> <img
                      src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041024090-L.jpg"> </div>
                  <div class="web">
                    <div class="wd_w"> <span>问</span>
                      <h4><a
                          href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/2.html">饲料采购风险管理方案助企业降成本</a>
                      </h4>
                      <div class="clear"></div>
                    </div>
                    <div class="wd_d"> <span>答</span>
                      <p><a
                          href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/2.html">湖北省在疫情影响下，玉米、豆粕等饲料大宗商品物流运输不顺及采购价格陡升导致养殖类生产成本提高，对...</a>
                      </p>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>
                <li>
                  <div class="img"> <a
                      href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/1.html"></a> <img
                      src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/1-2003041023310-L.jpg"> </div>
                  <div class="web">
                    <div class="wd_w"> <span>问</span>
                      <h4><a
                          href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/1.html">韩国发布《餐饮产业振兴法》部分修改草</a>
                      </h4>
                      <div class="clear"></div>
                    </div>
                    <div class="wd_d"> <span>答</span>
                      <p><a
                          href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/lingshixiaozhishi/1.html">食品伙伴网讯3月3日，据韩媒报道，韩国国会通过了《餐饮产业振兴法》部分修改草案。
                          本次修改的主要内容...</a></p>
                      <div class="clear"></div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </li>

              </ul>
            </div>
          </div>
          <div class="clear"></div>
          <div class="more"> <a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/">更多</a> </div>
        </div>
      </div>
    </div>
  </div>
  <!-------------------------------------- 内容结束 -------------------------------------->
  <!-------------------------------------- 尾部开始 -------------------------------------->
  <div class="footer">
    <div class="foot_xx">
      <div class="wrap">
        <div class="left">
          <div class="ft_logo"> <a href="http://zly_20201117_10.demo.qfpffmp.cn/"><img
                src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/logo.png"></a> </div>
          <div class="nav">
            <ul>
              <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/">网站首页</a></li>

              <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/guanyuwomen/gongsijianjie/">关于我们</a></li>

              <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xiliefenlei/">系列分类</a></li>

              <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/mendianfenbu/">门店分布</a></li>

              <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/xinwendongtai/">新闻动态</a></li>

              <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/a/lianxiwomen/">联系我们</a></li>

            </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="right">
          <div class="ewm"> <img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/ewm.jpg"> </div>
          <div class="web">
            <p>地址：</p>
            <p>广东省广州市番禺经济开发区</p>
            <div class="ft_tel">
              <p>电话：</p>
              <p><span>020-88888888</span></p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="ft_bq">
      <p>Copyright © 2002-2020 某某日化食品有限公司 版权所有 网站备案号：<a href="http://www.beian.miit.gov.cn/">粤ICP备xxxxxxxx号</a></p>
    </div>
  </div>
  <!-------------------------------------- 尾部结束 -------------------------------------->
  <div class="full">
    <ul>
      <li><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=88888888&amp;site=qq&amp;menu=yes"><span class="span1"></span>
          <label>在线QQ</label>
        </a></li>
      <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><span class="span2"></span>
          <label>020-88888888</label>
        </a></li>
      <li><a href="http://zly_20201117_10.demo.qfpffmp.cn/#"><span class="span3"></span>
          <label class="lbl_img"><img src="./响应式日化食品零食类网站织梦模板(自适应手机端)_files/ewm.jpg"></label>
        </a></li>
      <li><a href="javascript:void(0)" class="gotop"
          onclick="$(&#39;html,body&#39;).stop().animate({scrollTop:0},800)"><span class="span4"></span></a></li>
    </ul>
  </div>

</body>

</html>