* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  background: url("https://img.ikstatic.cn/MTYwNTUxNjE4NzY5OCM5NTQjcG5n.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 160px 0;
}
.content .middle {
  width: 1140px;
  margin: 0 auto;
}
.content .middle h1{
  color: #02fee5;
  font-size: 75px;
  line-height: 110px;
  font-weight: bold;
  font-family: 'Righteous', cursive;
}
.content .middle h2{
  font-size: 75px;
  line-height: 110px;
  font-weight: bold;
  color: #fff;
  font-family: 'Righteous', cursive;
}
.content .middle p{
  font-size: 17px;
  display: block;
  color: #fff;
  line-height: 30px;
  padding-bottom: 50px;
  font-weight: 400;
}
.content .middle .buttons span{
  font-size: 17px;
  background-color: #fff;
  color: #000;
  padding: 13px 0px;
  width: 100%;
  max-width: 190px;
  text-align: center;
  display: inline-block;
  transition: ease-in all 0.5s;
}
.content .middle .buttons span:hover{
  background-color: #02fee5;
  color: #000;
  transition: ease-in all 0.5s;
  border-radius: 26px;
  cursor: pointer;
}
